{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Lecture</h3>
                <div class="subheading mb-3">Padmashree International College && Himalayan College</div>
                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined  solution..</p>
                 <h2>Teaches</h2>
                 <p>Mathematics-1</p>
                 <p>Web Technology</p>
                 <p> Digital Logic</p>
                 <p>Microprosesor</p>
                 <p>Mathematics-2</p>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">March 2019 - Present</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">Freelance</div>
                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2018 - March 2019</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Locus</h3>
                <div class="subheading mb-3">Hardware Core Team</div>
                <p>Deal with the different robotic slotion based on Different latest technology</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2018 -2019</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Lecture</h3>
                <div class="subheading mb-3">Ocean Entrance Preperation</div>
                <p>Collaboratively administrate empowered to prepare for the student to get better knowledge how to deals with the physic question in different compitions exam</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">march-2019 - till</span>
            </div>
            </div>

        </div>

        </section>

        <hr class="m-0">

</div>
{% endblock %}
                