{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <
            <li class="list-inline-item">
                <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-django"></i>
            </li>
            
            <li class="list-inline-item">
                <i class="fab fa-python"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
                <img src="https://img.icons8.com/ios/50/000000/artificial-intelligence.png"/>
            </li>
            <li class="list-inline-item"></li>
            <i class="fa fa-database" aria-hidden="true"></i></li>
            <li class="list-inline-item">
                <i class="fab fa-npm"></i>
            </li>
            </ul>

            <div class="subheading mb-3">Trainign</div>
            <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check">Crash Course on Robotics</i>
               </li>
            <li>
                <i class="fa-li fa fa-check"> AI training</i>
              </li>
            <li>
                <i class="fa-li fa fa-check">IOT based different structured programming level</i>
               </li>
            <li>
                <i class="fa-li fa fa-check">Different Hardware and Software Felloship</i>
               </li>
            </ul>
        </div>
        </section>

        <hr class="m-0">

</div>
{% endblock %}
               